.donate-now-btn {
    background-color: #d6a85d;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .donate-now-btn:hover {
    background-color: #b68848;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }