<section class="field-of-work-section container text-center mt-5">
  <h2 class="section-title mb-4">Our Field Of Work</h2>
  <div class="row justify-content-center">
    <div
      class="col-6 col-md-3 mb-4"
      *ngFor="let field of fieldsOfWork"
    >
      <div class="card shadow border-0 h-100">
        <img
          [src]="field.imgSrc"
          class="card-img-top rounded"
          [alt]="field.altText"
        />
        <div class="card-body">
          <h5 class="card-title">{{ field.title }}</h5>
        </div>
      </div>
    </div>
  </div>
</section>
