.banner {
    display: block;
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
    font-size: 16px;
    border: 1px solid #f5c6cb;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top of other content */
    height: 40px; /* Set the banner height explicitly */
    line-height: 40px; /* Vertically center the text inside the banner */
    padding: 0; /* Remove extra padding */
}

/* Close button for the banner */
.banner .close-banner {
    background: none;
    border: none;
    color: #721c24;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    height: 40px !important;
}

.close-banner:hover {
    color: #f5c6cb;
}